.rood {
    border: 1px solid black;
    background-color: red;
    padding: 10px;
    color: white;
    width: 50px;
    height: 25px;
    text-align: center;
}

.groen {
    border: 1px solid black;
    background-color: green;
    padding: 10px;
    color: white;
    width: 50px;
    height: 25px;
    text-align: center;
}

.blauw {
    border: 1px solid black;
    background-color: blue;
    padding: 10px;
    color: white;
    width: 50px;
    height: 25px;
    text-align: center;
}

tbody {
    border: 1px solid black;
    table-layout: fixed;
    columns: auto;
}

.grid{
    display: grid;
    height: 120px;
    width: 220px;
    grid-row-gap: 2px;
    grid-column-gap: 2px;
}

.rood2{
    border: 1px solid black;
    background-color: red;
    padding: 10px;
    color: white;
    width: 50px;
    height: 25px;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
}

.groen2{
    border: 1px solid black;
    background-color: green;
    padding: 10px;
    color: white;
    width: 50px;
    height: 25px;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
}

.blauw2{
    border: 1px solid black;
    background-color: blue;
    padding: 10px;
    color: white;
    width: 50px;
    height: 25px;
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
}

.rood3{
    border: 1px solid black;
    background-color: red;
    padding: 10px;
    color: white;
    width: 50px;
    height: 25px;
    grid-column-start: 4;
    grid-column-end: 5;
    text-align: center;
}

.groen3{
    border: 1px solid black;
    background-color: green;
    padding: 10px;
    color: white;
    width: 50px;
    height: 25px;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
}

.blauw3{
    border: 1px solid black;
    background-color: blue;
    padding: 10px;
    color: white;
    width: 50px;
    height: 25px;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
}

.rood4{
    border: 1px solid black;
    background-color: red;
    padding: 10px;
    color: white;
    width: 50px;
    height: 25px;
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
}

.groen4{
    border: 1px solid black;
    background-color: green;
    padding: 10px;
    color: white;
    width: 50px;
    height: 25px;
    grid-column-start: 4;
    grid-column-end: 5;
    text-align: center;
}

.blauw4{
    border: 1px solid black;
    background-color: blue;
    padding: 10px;
    color: white;
    width: 50px;
    height: 25px;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
}

.rood5{
    border: 1px solid black;
    background-color: red;
    padding: 10px;
    color: white;
    width: 50px;
    height: 25px;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
}

.groen5{
    border: 1px solid black;
    background-color: green;
    padding: 10px;
    color: white;
    width: 50px;
    height: 25px;
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
}

.blauw5{
    border: 1px solid black;
    background-color: blue;
    padding: 10px;
    color: white;
    width: 50px;
    height: 25px;
    grid-column-start: 4;
    grid-column-end: 5;
    text-align: center;
}